.pt-serif-regular, body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}

.flex {
    display: flex;
    column-gap: 1rem;
}

body {
    background-color: #F9F9F9;
    color: #0e0e0e;
    padding-bottom: 22px;
    text-wrap: pretty;
}

img {
    pointer-events: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.header-img-container, .header-h1-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title-img {
    max-width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px double #0e0e0e;
}

.main {
    max-width: 1000px;
    margin: auto;
}

.post-container {
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 7px;
    border: 3px double #0e0e0e;
}

.post-content .flex {
    padding-top: 19px;
}

.post-date {
    display: flex;
    justify-content: right;
    font-size: .5em;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: right;
    pointer-events: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.post-container img {
    max-width: 250px;
    width: 100%;
    height: auto;
}

.footer {
    text-align: center;
    padding-bottom: 4px;
}

.footer a {
    text-decoration: none;
}